/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'Jost* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Book'), url('Jost400Book.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* BookItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* BookItalic'), url('Jost400BookItalic.woff') format('woff');
    }

    @font-face {
    font-family: 'Jost* Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Medium'), url('Jost500Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* MediumItalic'), url('Jost500MediumItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Bold'), url('Jost700Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* BoldItalic'), url('Jost700BoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Heavy'), url('Jost800Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* HeavyItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* HeavyItalic'), url('Jost800HeavyItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* Black';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Black'), url('Jost900Black.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Jost* BlackItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* BlackItalic'), url('Jost900BlackItalic.woff') format('woff');
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
    line-height: 1;
    
    cursor: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    border: 2px solid #fff;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    mix-blend-mode: difference;
}
.cursor_b {border: 2px solid #000;}

.cursor-grow {
    transform: scale(2);
}
