

* { margin: 0; padding: 0; 
}
html {cursor: none;}

body {
    width: 100vw;
    background-color: black;
    -ms-overflow-style: none; 
    position: relative;
} 



::-webkit-scrollbar { 
    display: none;
}
.back-btn {
    position: absolute;
    top: 8vh;
    left: 6vw;
}
.back-btn > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Jost* Bold';
    font-size: 20px;
    mix-blend-mode: difference;
}
.info-area {
    width: 100%;
    height: 100%;
    float: left;
}

.title {
    width: 617px;
    margin-left: 8vw;
    margin-top: 12vw;
    float: left;
}

.title > span {
    color: #000;
    font-family: 'Jost* Bold';
    font-size: 90px;
    line-height: 104px;

}
.title2 {
    width: 617px;
    margin-left: 8vw;
    margin-top: 20.5vw;
    float: left;
}
.title2 > span {
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    line-height: 68px;
}
.myName {
    font-size: 35px;
    line-height: 68px;
    font-weight: 800;
}
.myName:hover {
    font-size: 38px;
    transition: 0.25s ease-in-out;
}
.profile {
    width: 617px;
    height: 740px;
    margin-left: 61vw;
    margin-top: 11.5vw;
}

.profile-title {
    font-family: 'Jost* Bold';
    font-size: 40px;
    text-transform: uppercase;
    line-height: 125px;
}

.ko {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.eng {
    font-family: 'Jost* Medium';
    font-size: 16px;
    line-height: 35px;
    margin-left: 24px;
    text-transform: uppercase;
}

.profile > ul {
    float: left;
    margin-top: 102px;
}

.profile > ul > li {
    padding-top: 36px;
}
.profile > ul > li > a {
    color: #000;
}
.profile > ul > li:first-child {
    padding-top: 0px;
}

.bold {
    font-family: 'Jost* Medium';
    font-size: 30px;
    text-transform: uppercase;   
}

.normal-list {
    margin-left: 80px;
    float: left;
}
.normal {
    font-family: 'Jost* Book';
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
}
 .pic {
    opacity: 0;
    position: absolute;
    top: 128vh;
    left: 64vw;
    transition: 0.25s ease-in-out;
}

/* bg */

.bg { width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; z-index: -10;}
.row { width: 100%; height: 100%; display: flex; flex-direction: row;  }
.circle { background-color: #fff; flex: 1; border-radius:50%;}
.circle2 { background-color: #fff; flex: 1; opacity: 0; border-radius:50%;}

.text-color { transition: 0.25s ease-in-out; transform: scale(1.05); }
.color{ color: #fff; text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; }

.shadow {
    opacity: 0;
    margin-left: 8.4vw;
    margin-top: 12.4vw;
    width: 617px;
    font-family: 'Jost* Bold';
    font-size: 90px;
    line-height: 104px;
    float: left;
    position: absolute;
    color: #cacaca;
    z-index: -1;
}
.slow {transition: 0.25s ease-in-out;}
.show { opacity: 1;}